<section class="{{ section.sectionId }}" id="{{ section.sectionId }}">
    <header style="background-image: url({{data.background}}">
        <div class="inner">
            <div class="header-content">
                <picture>
                    <img src={{data.logo}} alt="NEFF Logo" class="header-logo">
                </picture>
                <h2>{{ data.title }}</h2>
                <a role="button" aria-label="Shop all NEFF" href="#" class="ao-cta header-button">{{ data.button }}</a>
            </div>
        </div>
    </header>
</section>
