<section class="{{ section.sectionId }}" id="{{ section.sectionId }}">
    <div class="inner">
        <div class="neffrating-brand">
            <span class="stars"></span>
            <p class="brand-name">{{ data.brand }}</p>
            <p class="model-name">{{ data.model }}</p>
            <p class="model-number">{{ data.modelnumber }}<p>
        </div>
        <div class="review-score">
                <span class="score">{{ data.score }}</span>
                <span class="total">{{ data.total }}</span>
        </div>
        <div class="review-section">
            <h3>{{ data.title }}</h3>
            <p>{{ data.description }}</p>
        </div>
        <div class="review-image"></div>
    </div>
</section>
