<section class="{{ section.sectionId}}" id="{{ section.sectionId }}">
    <div class="slideandhide-box">
        <div class="image-container">

        </div>
        <div class="outer">
            <div class="inner">
                <h2>{{ data.title }}</h2>
                <p class="inner-description">{{ data.description }}</p>
                <a class="ao-cta">{{ data.button }}</a>
                <div class="video-box">
                    <div class="video-cta"></div>
                    <p><strong>{{ data.video }}</strong> {{ data.videolength }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
